@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

* {
    user-select: none;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Domine', serif;
}

body,
html {
    height: 100%;
    margin: auto;
}

body {
    background-image: url(../img/mainBackground.jfif);
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#mainStartingContent {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

    width: auto;
    height: 100vh;

}

h1 {
    position: absolute;
    top: 200px;
    font-size: 50px;
    color: white;
}

#play {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    padding: 20px;
    margin: auto;
    transition: .5s ease;
    cursor: pointer;
    font-size: large;
    border-radius: 1em;
}

#backButton {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    color: black;
    padding: 1em;
    cursor: pointer;
    transition: .5s ease;
    border: none;
}

#backButton:hover {
    background-color: transparent;
    color: white;
    text-decoration: underline;
}

#play:hover {
    transform: scale(1.5);
    border-radius: 2em;
    border: 1px solid white;
}

#scoreText {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    display: none;
    font-size: x-large;
}


#grid {
    padding-top: 85px;
    width: 620px;
    height: 620px;
    display: none;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.42);
    margin: auto;

}

.square {
    height: 200px;
    width: 200px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    transition: 0.5s;
    background-color: white;

}


.mole {
    background-image: url(../img/mole.png);
    background-size: cover;
    transition: .5s;
    cursor: pointer;
}

.mole:hover {
    background-color: brown;
    opacity: 0.5;

}